{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}
{{ object.pk }}
{% endblock title %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <div class="border-dark border-bottom mb-3">
                <h4 class="">{{ object.details }}</h4>
                <p class="small text-muted">
                    created by: {{ object.created|naturaltime }}
                    by {{ object.created_by }}
                </p>
            </div>
            <div class="col">
                <form method="post">
                    {{ form|crispy }}
                    {% csrf_token %}
                    <div class="d-grid gap-2">
                        <input type="submit"
                            class="btn btn-outline-dark my-4"
                            value="post comment">
                    </div>
                </form>
            </div>
            <div class="small container">
                {% with comments.count as total_comments %}
                <p class="py-3">
                    {{ total_comments }}
                    comment{{ total_comments|pluralize }}
                </p>
                {% endwith %}
                {% for comment in comments %}
                <div class="">
                    <p class="text-info">
                        <span class="small text-muted">
                            Comment {{ forloop.counter }} by
                            {{ comment.created_by }}
                            on {{ comment.created|naturaltime }}
                        </span>
                    </p>
                    <div class="container">{{ comment.comment|linebreaks }}
                    </div>
                </div>
                {% empty %}
                <div class="container">
                    <p>There are no comments yet.</p>
                </div>

                {% endfor %}
                {% if new_comment %}
                <h2>Your comment has been added.</h2>
                {% else %}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="mx-4">
                {% for object in my_ticket_list %}
                <a href="">
                    {{ object.details|linebreaks }}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}