{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}
{{ object.pk }}
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <div class="border-dark border-bottom mb-3">
                <h4 class="">{{ object.details }}</h4>
                <p class="small text-muted text-end">
                    created by: {{ object.created|naturaltime }}
                    by {{ object.created_by }}
                </p>
            </div>
            <div class="col container">
                <form method="post">
                    {{ form|crispy }}
                    {% csrf_token %}
                    <div class="d-grid gap-2">
                        <input type="submit"
                            class="btn btn-outline-dark my-4"
                            value="post comment">
                    </div>
                </form>
            </div>
            <div class="small container">
                {% with comments.count as total_comments %}
                <p class="py-3">
                    {{ total_comments }}
                    comment{{ total_comments|pluralize }}
                </p>
                {% endwith %}
                {% for comment in comments %}
                <div class="">
                    <p class="text-info">
                        <span class="small text-muted">
                            Comment {{ forloop.counter }} by
                            {{ comment.created_by }}
                            on {{ comment.created|naturaltime }}
                        </span>
                    </p>
                    <div class="container">{{ comment.comment|linebreaks }}
                    </div>
                </div>
                {% empty %}
                <div class="container">
                    <p>There are no comments yet.</p>
                </div>

                {% endfor %}
                {% if new_comment %}
                <h2>Your comment has been added.</h2>
                {% else %}
            </div>
        </div>
        <div class="col-lg-4">
            {% for object in my_ticket_list %}
            <a class="text-decoration-none text-dark"
                href="{{object.get_absolute_url}}">
                <div class="alert alert-light p-0 shadow-lg"
                    role="alert">
                    <div class="row">
                        <div class="col-1">
                            <div style="width: 10px; height:100%;"
                                class="bg-success"></div>
    
                        </div>
                        <div class="col">
                            <div class="p-2">
                                {{ object.details|linebreaks }}
                                <div class="text-muted text-end small fst-italic">
                                    created {{object.created}}
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </a>
            {% endfor %}
    
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}