{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block title %}
New Ticket
{% endblock title %}

{% block content %}
<div class="d-flex justify-content-start">
    <div class="col-lg-3 mx-5">
        <form action=""
            method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="col-12 d-grid">
                <button class="btn btn-outline-dark my-5"
                    type="submit">Create Ticket</button>
            </div>
        </form>
    </div>
</div>


{% endblock content %}
